import React, { useState, useEffect } from "react";

const DURATION = 5000;
const FPS = 240;
const CHUNKS = Math.ceil((DURATION / 1000) * FPS);
const DELAY = DURATION / CHUNKS;
const STEP = 1 / CHUNKS;

const sleep = (ms: number) => new Promise(resolve => setTimeout(resolve, ms));

const {{name}} = (props: {
  title: string,
  onClick: () => void
}): React.ReactElement<any> => {
  const [value, setValue] = useState(0);
  const rotation = value * 360;

  async function startRotation() {
    let cursor = value;
    while (true) {
      cursor += STEP;
      if (cursor > 1) {
        cursor = 0;
      }
      setValue(cursor);
      await sleep(DELAY);
    }
  }

  useEffect(() => { startRotation() }, []);

  return (
    <div
      onClick={props.onClick}
      style=\{{
        width: 100,
        height: 100,
        cursor: "pointer",
        backgroundColor: "red",
        transform: "rotate(" + rotation + "deg)"
      }}
    >
      <p>{props.title}</p>
    </div>
  );
}

export default {{name}};
